.common__section {
  background: linear-gradient(#93d1e2b2, #f3f5f4b2),
    url("../assets/images/banner-02.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
}
